.container {
  width: 980px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}
.column {
  border: 1px #dce0e8 solid;
  border-radius: 5px;
  max-width: 300px;
  float: left;
  text-align: center;
  margin: 10px 10px;
  background-color: #eff5f9;
}

.title {
  height: 55px;
  background-color: #43a9f2;
  border: 1px #43a9f2 solid;
  border-bottom: #43a9f2;
}

.column h3 {
  color: white;
}
.column img {
  display: block;
  margin: 15px auto;
  max-width: 200px;
  height: 150px;
}
.column p {
  padding: 13px;
}
