.container {
  width: 980px;
  margin: auto;
  font-family: sans-serif;
  text-align: center;
  min-width: 300px;
}

.column {
  border: 1px #dce0e8 solid;
  border-radius: 5px;
  max-width: 300px;
  float: left;
  text-align: center;
  margin: 10px 10px;
  background-color: #eff5f9;
}

.title {
  height: 55px;
  background-color: #43a9f2;
  border: 1px #43a9f2 solid;
  border-bottom: #43a9f2;
}

.column h3 {
  color: white;
}
.column img {
  display: block;
  margin: 15px auto;
  max-width: 200px;
  height: 150px;
}
.column p {
  padding: 13px;
}
@media screen and (max-width: 480px) and (min-width: 300px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .tiles {
    width: 80%;
    margin: auto;
  }

}

@media screen and (max-width: 780px) and (min-width: 480px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .tiles {
    width: 90%;
    margin: auto;
  }

}

@media screen and (max-width: 1000px) and (min-width: 780px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .tiles {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
